<div class="form_list">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Number:</strong>
    <%= @car.car_number %>
  </p>

  <p>
    <strong>VIN:</strong>
    <%= @car.vin_number %>
  </p>

  <p>
    <strong>Crew name:</strong>
    <%= @car.car_name %>
  </p>

  <%= @car.deleted ? "Видалено" : "Не видалено" %>

  <%= link_to 'Edit', edit_car_path(@car) %> |
  <%= link_to 'Back', cars_path %>
</div>
